@import url("https://rsms.me/inter/inter.css");
@import "variables";
@import './colors.scss';
:root {
  @each $theme, $map in $themes {
    .theme--#{$theme} {
      @each $key, $submap in $map {
        --#{$key}: #{$submap};
      }
    }
  }
  body {
    font-family: "Inter", sans-serif !important;
    margin: 0;
  }

  html {
    font-size: calc(
      var(--min-font-size) + (var(--max-font-size) - var(--min-font-size)) *
        ((100vw - var(--min-viewport-width)) / (var(--max-viewport-width) - var(--min-viewport-width)))
    ) !important;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Inter", sans-serif !important;
    font-weight: bold;
    color: var(--primary-color);
    margin-bottom: 1rem;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  h3 {
    font-size: 1.6rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1.25rem;
  }

  h6 {
    font-size: 1rem;
  }

  p {
    font-size: 0.75rem;
    color: var(--primary-color);
  }

  li {
    font-size: 1rem;
    color: var(--primary-color);
  }
  ///
  code {
    font-family: monospace;
    font-weight: lighter;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    // font-size: .75rem;
    // background-color: #515151a7;
    // padding: 2px;
    // padding-left: 6px;
    // padding-right: 6px;
    // border-radius: 12px;
  }
  pre {
    margin: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-top-left-radius: 0px !important;
    border: 1px solid #716e6e59;
  }
}

body {
  font-family: "Inter", sans-serif !important;
  margin: 0;
  color: var(--text-color);
}

html {
  font-size: calc(
    var(--min-font-size) + (var(--max-font-size) - var(--min-font-size)) *
      ((100vw - var(--min-viewport-width)) / (var(--max-viewport-width) - var(--min-viewport-width)))
  ) !important;
}

/* Reset and global settings */
*,
*:after,
*:before {
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #141414;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(171, 171, 171);
  height: 4%;
  border-radius: 30px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

$font-size-base: 16px;
.theme--light {
  --color-bg: var(--color-bg-light);
  --color-text: var(--color-text-light);
}

.theme--dark {
  --color-bg: var(--color-bg-dark);
  --color-text: var(--color-text-dark);
}