.rows--container {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  padding: 10px 10px 8px;
  height: 100%;

}

.divider {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  height: .5px;
  background-color: rgb(69, 69, 69);
}


.row {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.text {
  color: rgb(173, 173, 173);
  font-size: 12px;
  font-weight: 400;
}