/* src/Dropdown.css */
.dropdown {
  position: relative;
  display: inline-block;

}

.dropdown-button {
  background-color: #2e2e2e;
  color: white;
  padding: 4px 12px;
  border : 1px solid #a8a8a852;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.dropdown-menu {
  display: flex;
  position: absolute;
  flex-direction: column;
  right: 0;
  color : white;
  top : 40px;
  max-height: 200px;
  overflow : auto;
  margin-bottom: 5px;
  border-radius: 8px;
  border : 1px solid #68686889;
  background-color: #313131;
  min-width: 100px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 6000;

}

.icon__container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding : 4px;
  width: 100%;
  cursor: pointer;
  border-radius: 8px;
}

.dropdown-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  cursor: pointer;
  border-bottom: 1px solid #68686889;
  transition: background-color 0.2s ease-in-out;
}

.dropdown-row:hover {
  background-color: rgba(36, 36, 36, 0.792);
}

.dropdown-row:last-child {
  border-bottom: none;
}


.dropdown-item {
  color: rgb(183, 183, 183);
  padding: 8px 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
  white-space: nowrap;
  width: 100%;
  cursor: pointer;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

//custom scroll bar
.dropdown-menu::-webkit-scrollbar {
  width: 8px;
  background-color: #2e2e2e;
  border-radius: 8px;
}

.dropdown-menu::-webkit-scrollbar-thumb {
  background-color: #68686889;
  border-radius: 8px;
}

.dropdown-menu::-webkit-scrollbar-track {
  background-color: #2e2e2e;
  border-radius: 8px;
}

.dropdown-menu::-webkit-scrollbar-corner {
  background-color: #2e2e2e;
  border-radius: 8px;
}

