/* src/Dropdown.css */
.dropdown {
  position: relative;
  display: inline-block;
  flex: 1;
}

.dropdown-button {
  background-color: var(--primary-bg);
  color: white;
  padding: 4px 12px;
  border: 1px solid #a8a8a852;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  gap: 8px;
  height: 45px;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  // background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 70%);
  -webkit-background-clip: text;
}

.dropdown-menu {
  display: flex;
  position: absolute;
  flex-direction: column;
  right: 0;
  top: 50px;
  width: 100%;
  max-height: 200px;
  overflow: auto;
  margin-bottom: 5px;
  border-radius: 8px;
  color: var(--primary-text);
  border: 1px solid  var(border-color);
  background-color: var(--primary-bg);
  color: var(--primary-text);
  min-width: 100px;
  border : 1px solid var(--border-color);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 6000;
}

.icon__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px;
  width: 100%;
  cursor: pointer;
  border-radius: 8px;
}

.dropdown-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  cursor: pointer;
  border-bottom: 1px solid #68686889;
  transition: background-color 0.2s ease-in-out;
}

.dropdown-row:hover {
  background-color: rgba(36, 36, 36, 0.792);
}

.dropdown-row:last-child {
  border-bottom: none;
}

.dropdown-item {
  color: var(--primary-text);
  padding: 8px 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
  white-space: nowrap;
  width: 100%;
  cursor: pointer;
  // background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 70%);
  -webkit-background-clip: text;
}

//custom scroll bar
.dropdown-menu::-webkit-scrollbar {
  width: 8px;
  background-color: var(--primary-bg);
  border-radius: 8px;
}

.dropdown-menu::-webkit-scrollbar-thumb {
  background-color: #68686889;
  border-radius: 8px;
}

.dropdown-menu::-webkit-scrollbar-track {
  background-color: #2e2e2e;
  border-radius: 8px;
}

.dropdown-menu::-webkit-scrollbar-corner {
  background-color: #2e2e2e;
  border-radius: 8px;
}

.WorkspaceName{
  border: none;
  display: flex;
  align-items: center;
  font-size: 16px;
  width: 100%;
  text-align: center;
  color: var(--primary-text) !important;
  background-color: transparent !important;

  justify-content: center;

  &::-webkit-input-placeholder {
    background-color: transparent !important;
  }

  &:-moz-placeholder {
    background-color: transparent !important;  }

  &::-moz-placeholder {
    background-color: transparent !important;  }

  &:-ms-input-placeholder {
    background-color: transparent !important;  }

  &::input-placeholder {
    background-color: transparent !important;  }
}
