.SearchContainer {
  position: fixed;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 100vw;
  height: 100vh;
  padding-bottom: 10px;
  margin-bottom: 10px;
  background-color: var(--primary-bg);
  color: var(--primary-text);
}
