.filterPrompts {

  position: absolute;
  z-index: 5000;
  top: 70%;
  left: 70%;
  transform: translate(-50%, -50%);
  width: 575px;
  height: 400px;
  border-radius: 8px;
  border: 1px solid #73737389;
  background-color:  var(--primary-bg);
  overflow: hidden;
  z-index: 4000;


}