
.control__container {
  display: flex;
  flex-direction: row;
  gap: 4px;
  background-color:  var(--primary-bg);
  position: relative;
  justify-content: center;
  align-items: center;
  color : var(--primary-text);
  border: 1px solid var(--border-color);
  border-radius: 4px;
}

.verticalDivider {
  width: 1px;
  height: 24px;
  background-color: var(--border-color);
  z-index: 29;
}

.button__container {
  display: flex;
  flex-direction: row;
  gap: 4px;
  background-color: var(--primary-bg);
  position: relative;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}