.topBar {

  &__container {

    display: flex;
    position: relative;
    top: 0%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    z-index: 20;
    background-color: #101010;
    margin-bottom: 8px;
    border-bottom: 1px solid #55555589;


  }



}