.tree-w .arrow-w {
  cursor: pointer;
  -webkit-user-select: none;
  /* Safari 3.1+ */
  position: relative;
  -moz-user-select: none;
  /* Firefox 2+ */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  color: var(--live-arrow);
  font-size: 11pt;
  margin-left: 50px;
  z-index: 1000;

}


.nodeName-w {
  position: relative;
  /* background-color: var(--live-class); */
  border-radius: 4px;
  color: var(--primary-text);
  border: 1px solid var(--live-border);
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: fill;
  font-weight: lighter !important;
}

.nodeName-w::before {
  content: '';
  display: block;
  padding-top: 100%;
  /* This will make the height equal to the width */
}

.mediaQueryButtons-w {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;

}

.mediaQueryContainer-w {
  display: flex;
  flex-direction: row;
  gap: 8px;

  &.faded {
    opacity: 0.3;
  }


}

.treeWrapper-w {

  background-color: var(--nav-bg);
  /* position: fixed; */
  object-fit: contain;
  /* width: 300px; */
}



.className__container-w {

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  font-weight: 200;
  padding-left: 4px;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
  width: 100%;
}

.className__container-w::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 100%;
  font-weight: 200;
  /* background: linear-gradient(to right, rgba(255, 255, 255, 0), var(--live-bg)); */
}

.className__container-w::-webkit-scrollbar {
  width: 4px;
  padding-top: 4px;
  height: 1px;
}

.className__container-w::-webkit-scrollbar-thumb {
  background-color: #2a2a2a;
  border-radius: 2px;
}

.className__container::-webkit-scrollbar-track {
  background-color: #1f1f1f;
}

/* Apply thin scrollbar to Firefox */
.className__container-w {
  scrollbar-width: thin;
}


.className__container-w::-moz-scrollbar {
  width: 4px;
  height: 4px;
}



.mediaQueryTextSelected-w {
  border-radius: 4px;
  color: var(--text-color);
  margin-top: 6px;
  border: 1px solid var(--live-border);
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-weight: lighter;
  font-size: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-overflow: ellipsis;
  /* overflow: hidden; */
  width: auto;
  margin-bottom: 8px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), var(--live-class2) 70%);

  &.faded {
    opacity: 0.3;
  }

  span {
    color: var(--primary-text);
  }

}

.mediaQueryText-w {
  background-color: var(--live-class);
  border-radius: 4px;
  color: var(--text-color);
  margin-top: 6px;
  border: 1px solid var(--live-border);
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-weight: lighter;
  font-size: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: auto;
  margin-bottom: 8px;
  background: linear-gradient(to top, rgba(255, 255, 255, 0), var(--live-class) 70%);
  -webkit-background-clip: text;

  &.faded {
    opacity: 0.3;
  }

  span {
    color: var(--primary-text);
  }

}




@keyframes flowingDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.flow-down-w {
  width: 100%;
  will-change: transform, opacity;
  /* animation-name: flowingDown; */
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  border-left: #dddddd6d 1px solid;
  /* animation-iteration-count: infinite; */
}






.selection-box-w {
  position: absolute;
  border: 1px dashed #333;
  background-color: rgba(0, 0, 255, 0.1);
  pointer-events: none;
}


.copy-w {
  position: absolute;
  right: 0;
  padding: 8px;
  z-index: 20;
}

.code__container-w {
  color: var(--text-color);
  /* padding: 5px; */
  border-radius: 5px;
  width: 100%;
  /* left: 30px; */
  height: auto;
  position: relative;
  /* margin: 5px; */
  object-fit: contain;
  border-radius: 5px;
}

.code__wrapper-w {
  /* left: 30px; */
  margin-left: 0px;
  border-radius: 6px;
  /* overflow: auto; */
  object-fit: contain;

}


.first__container-w {
  /* width: 80%; */
  height: auto;
  backdrop-filter: blur(5px);
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.firstCss__container-w {
  position: relative;
  /* padding-bottom: 10px; */
  /* padding-bottom: 40px; */
  /* margin-bottom: 4px; */
  height: auto;
  padding: 12px;
  padding-top: 4px;
  overflow: hidden;
  /* border-left: solid 1px #515151; */
  border-width: 0 0 0 1px;
  /* border-image: linear-gradient(to top, rgba(81, 81, 81, 0) 0%, rgb(36, 36, 36) 100%) 1 100% 30 round; */



}


.emptyMessage-w {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 10;
  pointer-events: none;
}

.scaled-w {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}


.treeElements-w {
  overflow: auto;
}

.zoomControls {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 100;
}

.controlOutput-w {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
  position: fixed;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: 1px solid var(--border-color);
  margin-right: 20px;
  margin-top: 8px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  top: 0;
  right: 0;
  z-index: 100;
}

.controlOutputDepth-w {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
  position: fixed;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: 1px solid #716e6ed6;
  margin-right: 60px;
  margin-top: 8px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  top: 0;
  right: 0;
  z-index: 100;
  background-color: #1c1c1c;
}


.zoomDisplay-w {
  padding: 4px
}




.zoomControls button {
  margin-left: 5px;
  padding: 5px 10px;
  background-color: #ddd;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  cursor: pointer;
}



.codeParent-w {
  position: relative;
  margin-top: -40px;
  width: fit-content;
  height: fit-content;
  /* border-left: solid 1px #515151; */
  /* border-style: solid; */
  border-width: 0 0 0 1px;
  /* border-image: linear-gradient(to top, rgba(81, 81, 81, 0.335) 0%, rgb(168, 97, 223) 100%) 1 100%; */

}

.css__container-w {
  position: relative;
  /* padding-bottom: 10px; */
  /* padding-bottom: 40px; */
  /* margin-bottom: 4px; */
  height: auto;
  padding: 12px;
  padding-top: 4px;
  /* border-left: solid 1px #515151; */
  border-width: 0 0 0 1px;


}



.launchGPT {
  border-radius: 50%;
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 20px;
  bottom: 15px;
  cursor: pointer;
  font-size: 2em;
  z-index: 1000;
}




.css__container--inner-w {
  border-radius: 8px;
  position: relative;
  border: .75px solid rgba(121, 121, 121, 0.741);

  /* border-image: linear-gradient(to right, rgb(61, 115, 185), rgba(81, 109, 195, 0.43)) 2; */
  /* overflow: hidden; */

}

.nodeText-w {
  font-size: 12px;
  font-weight: 100 !important;
  font-family: 'Roboto Mono', monospace;
}


.codeBlock-w {
  height: 100%;
  margin-left: -20px;
  font-size: 12px;
}


.code__topBar-w {
  display: flex;
  position: relative;
  height: 5px;
  width: 100%;
  padding: 12px;
  padding-left: 12px;
  align-items: center;
  font-weight: lighter;
  border-radius: 8px;
  justify-content: space-between;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  /* border :1px solid #515151;
  background-color: #1b1b1b;
  border-radius: 5px 5px 0 0; */
}


.first__topBar-w {
  display: flex;
  position: relative;
  height: 20px;
  width: 100%;
  padding: 24px;
  align-items: center;
  font-weight: lighter;
  justify-content: space-between;
  /* border :1px solid #515151; */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: #232323;
}



.tree-w.root-w {
  line-height: 0px;
  padding-right: 0px;

}


.code-w {
  padding-left: 40px;
  background-color: #e3e3e3;
}


.treeContainer-w {
  background-color: var(--primary-bg);
  outline-color: transparent;
  outline-offset: 0px;
  outline-style: none;
  outline-width: 0px;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  font-size: 14px;
  line-height: 14px;
  background-size: 35px 30px;
  overflow: scroll;
  width: 100%;
  height: 100vh;
  /* background-image: -webkit-repeating-radial-gradient(center center, rgba(255, 255, 255, 0.32), rgba(255, 255, 255, 0.19) 1px, transparent 1px, transparent 100%); */
  background-size: 64px 64px;
  min-height: calc(100vh - 49px);
  z-index: 0;
  position: relative;
  left: 0px;
  padding-bottom: 40vh;

  z-index: 1000000;

width: 20vw;
  overflow: auto;

  ::-webkit-scrollbar {
    width: 4px;
  }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px var(--track-color);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--thumb-color);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: grey;
  }






}

.highlight {
  background-color: #0084ff;
}

.selected {
  background-color: #0084ff;
  /* other styles */
}

/* .treeContainer .tree > li > .sd:first-of-type {

  width: 400px;
} */
.tree-w .arrow-w::before {
  content: "\25B6";
  /* color: linear-gradient(to bottom, rgb(149, 71, 194), rgba(47, 137, 185, 0)) 1; */
  display: inline-block;
  font-size: 8px;
  z-index: 1000;
  margin-top: -20px;
  z-index: 1000;
  position: absolute;
  left: -26px;
  top: 1px;
  margin-left: -35px;
  /* set the font-size to 80% of the parent font-size */
}

.tree-w .arrow-w:last-child::before {
  display: none;
}

.tree-w .arrow-down-w::before {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  /* margin-bottom: 8px; */
  position: absolute;
  left: -26px;
  top: 1px;
  margin-left: -35px;
  z-index: 1000;
}

.tree-w .arrow-up-w::before {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(0deg);
  position: absolute;
  left: -26px;
  top: 1px;
  margin-left: -35px;
  z-index: 1000;
}

.tree-w .nested-w {
  position: relative;

  display: none;
  transition: all 0.5s ease-in-out;
}

.tree-w .active-w {
  display: block;
  /* overflow: hidden; */
}

ul.tree-w,
ul.tree-w ul {

  list-style: none;
  margin: 0;
  padding: 0;
}

ul.tree-w ul {
  line-height: 14px;

  margin-left: 4px;
}

ul.tree-w li {
  margin: 0;
  padding: 0 8px;
  line-height: 14px;
  color: var(--primary-text);
  font-weight: bold;
  /* border-left: 1px solid #4d4d4d; */
}

ul.tree-w li:last-child {
  border-left: none;
  padding-left: 10px;
  /* padding-bottom: 2vh; */
}

.tree-w>li:first-child .arrow {
  margin-left: -20px;
  margin-top: -20px;
  z-index: 1000;
}


/*
this controls the lineheight
*/

ul.tree-w li:before {
  position: relative;
  top: 2px;
  height: auto;
  width: 12px;
  color: rgba(223, 223, 223, 0);
  border-bottom: 1px solid #4d4d4d;
  content: "";
  display: inline-block;
  left: -8px;
}







ul.tree-w li:first-child:before {
  position: relative;
  top: 2px;
  height: 50px;
  width: 12px;
  color: rgba(207, 207, 207, 0);
  border-bottom: 1px solid;
  /* border-image: linear-gradient(to bottom, rgb(147, 72, 191), rgba(196, 55, 224, 0.3)) 1; */
  /* background: linear-gradient(to bottom, rgb(158, 158, 158), rgba(224, 112, 222, 0.118)); */

  content: "";
  display: inline-block;
  left: -8px;
}


ul.tree-w>li:first-child,
ul.tree-w ul li:first-child {
  border-left: none;
  line-height: 14px;
  /* padding-bottom: 4px; */

}



ul.tree-w li:last-child:before {

  /* border-left: 1px solid rgb(77, 77, 77); */
}

.tree .aircraft-wrapper .title-text {
  color: #000;
  padding-right: 10px;
  margin-top: 5px;
}

/*---*/
.status-bl-wrap {
  display: flex;
}

.tree-w .red-dot {
  height: 10px;
  width: 10px;
  background-color: #ff0000;
  border-radius: 50%;
  /* display: none; */
  margin-top: 8px;
  margin-left: 4px;
}

.tree .green-dot {
  height: 10px;
  width: 10px;
  background-color: #a9d18e;
  border-radius: 50%;
  /* display: none; */
  margin-top: 8px;
  margin-left: 4px;
}

.tree .aircraft-wrapper .title-text {
  color: #000;
  padding-right: 10px;
  margin-top: 5px;
}

.tree .aircraft-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.tree .leaf {
  display: flex;
  cursor: pointer;
}

.tree>li:first-child:before {
  /* content: "XX"; */
  /* border: none !important; */
  line-height: none;

}

.tree .active {
  background-color: unset !important;
}

.tree .leaf:hover {
  text-decoration: none;
  background-color: red;
}

.tree .leaf.selected {
  background-color: green;
}