
.progress-bar {
  width: 60%;
  height: 5px;
  background-color: #f3f3f3;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.progress-bar__inner {
  height: 60%;
  background-color: #4c61af;
  width: 0%;
  transition: width 1s ease-out;
}

.download-all {
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.download-section {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  padding-right: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  justify-content: space-between;
}

.className__container {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
  background: linear-gradient(to left, rgba(255, 255, 255, 0.523), rgb(255, 255, 255) 70%);
}

.className__container::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 100%;
  background: linear-gradient(to right, transparent, white);
  pointer-events: none;
}

.search-bar-container {
  // border-top-left-radius: 20px;
  // border-top-right-radius: 20px;

  // background-color: #2b2b2b;
  width: 100%;
  padding: 4px;
}

.search-bar {
  border-style: initial;
  align-items: center;
  // background-color: var(--primary-bg);
  padding-top: 4px;
  justify-content: center;
  padding-bottom: 2px;
  padding-left: 16px;
  padding-right: 16px;
  border-width: 0px;
  // border-radius: 20px;
  border-color: "initial";
  display: flex;
  position: relative;
  flex-shrink: 0;
}

.search-icon-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  right: 45px;
}

.filter-holder {
  padding-left: 5px;
  padding-right: 5px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all ease;
}

.overflow {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all ease;
  overflow-x: auto;
}

.search-bar-input {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: none;
  line-height: 16px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: 8px;
  margin-right: 8px;
  height: 35px;
  font-size: 13px;
  border-radius: 20px;
  color:var(--primary-text);
  background: var(--primary-bg);
  border-width: 1px;
  border-color:  var(--border-color);
  box-sizing: border-box;
  font-family: inherit;
  outline: 0px;
}

.ex-icon {
  position: relative;
  z-index: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 24px;
  color: rgb(239, 239, 239);
}

.settings-icon.active {
  animation: toggle-color 0.3s ease-in-out forwards;
}

@keyframes toggle-color {
  0% {
    fill: #333;
  }

  100% {
    fill: #1e90ff;
  }
}

.settings-icon {
  fill: #333;
  /* default color */
  transition: fill 0.3s ease-in-out;
}
