.LiveGPT {

  &__container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60vh;
    border : 1px solid #3c5d77;
    border-radius: 8px;


  }

  &__live {
    width: 50%;
    // padding-right: 40px;
    background-image: -webkit-repeating-radial-gradient(center center, rgba(255, 255, 255, 0.32), rgba(255, 255, 255, 0.19) 1px, transparent 1px, transparent 100%);
    background-size: 48px 48px;
    min-height: calc(100vh - 49px);
    z-index: 0;

  }

  &__GPT {
    width: 50%;
    height: 60vh;

  }


}